.page-title h3 {
  color: var(--main-color);
  font-size: 23px;
  font-weight: bold;
}

.page-title h3 .icon {
  font-size: 15px;
  margin-left: 1px;
}

/**********/

.add-zone {
  border: 3px solid var(--third-color);
  border-radius: 12px;
  padding: 8px !important;
  color: var(--main-color);
  font-weight: 700;
  font-family: GE SS Two;
}

form .form-section {
  margin-bottom: 15px;
}

form .form-section .form-label {
  font-size: 15px;
  font-weight: bold;
  color: var(--main-color);
}

form .form-section .form-control {
  border: 2px solid var(--main-color);
  padding: 10px;
  border-radius: 12px;
}

form .form-section .form-control:focus {
  border: 2px solid var(--main-color);
  box-shadow: none;
  outline: none;
}

form .form-section .form-control::placeholder {
  color: rgba(109, 105, 105, 1);
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
}

.name .title h6 {
  font-weight: bold;
  margin-left: 45px;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.name .title h6.active {
  color: var(--main-color);
}

.name .title h6::after {
  content: " ";
  position: absolute;
  bottom: -9px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: width 0.3s ease;
  transition: transform 0.3s ease-in-out;
}

.name .title h6.active::after {
  transform: scaleX(1); /* يمتد الخط ليصبح بعرض 100% */
}

.btns .btn {
  width: 150px;
  height: 40px;
  border-radius: 12px;
  margin-top: 10px;
}

.btns .btn-save {
  background: var(--main-color);
  color: var(--second-color);
}

.btns .btn-rest {
  background: #b8b6b6;
  color: var(--main-color);
  margin-left: 10px;
}

@media (max-width: 992px) {
  .name .title h6 {
    font-size: 17px;
    margin-left: 30px;
  }
}

@media (max-width: 450px) {
  .name .title h6 {
    font-size: 14px;
    margin-left: 30px;
  }
}
