<header class="header">
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-xl-1 col-lg-1 col-md-3 col-sm-5 p-0">
      <div class="imgs">
        <img src="/assets/img/header/logo.png" alt="Logo" class="img-fluid">
      </div>
    </div>
    <div class="col-xl-1 col-lg-4 col-md-5 col-sm-6 p-0">
      <div class="main-content d-flex align-items-center">
        <div class="icon" aria-label="Envelope icon">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="icon" aria-label="Cart icon">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
        <div class="icon" aria-label="User image">
          <img src="/assets/img/header/img.jpg" alt="User profile">
        </div>
        <div class="title text-right">
          <h6>محمد</h6>
          <h6>mohlkmngmail.com</h6> <!-- افترضت إن ده email، صحح لو غلط -->
        </div>
        <a class="dropdown-item" (click)="logout()">
          <i class="fa-solid fa-right-from-bracket"></i>
          تسجيل الخروج
        </a>
      </div>
    </div>
  </div>
</header>
