<div class="add-area mt-2 mb-3">
  <div class="container-fluid p-0">
    <div class="row p-0">
      <div class="page-title">
        <h3>
          <span class="icon">
            <i class="fas fa-location-dot"></i>
          </span>
          إضافة منطقة تجارية جديدة
        </h3>
      </div>

      <div class="col-md-12">
        <div class="add-zone">
          <div class="row">
            <div class="col-md-6 information">
              <h3>التعليمات</h3>
              <p>إنشاء وربط النقاط في منطقة محددة على الخريطة لإضافة منطقة تجارية جديدة.</p>
              <div class="icon-title d-flex">
                <i class="fas fa-hand-pointer"></i>
                <h6>استخدم أداة اليد للعثور على المنطقة المستهدفة.</h6>
              </div>
              <div class="icon-title d-flex">
                <i class="fas fa-draw-polygon"></i>
                <h6>استخدم أداة الشكل للإشارة إلى المناطق وربط النقاط.
                  يتطلب الأمر 3 نقاط/نقاط على الأقل.</h6>
              </div>
              <div class="img">
                <img src="/assets/img/New folder/خريطة2.png" class="img-fluid" alt="">
              </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-12 mt-2 name">
              <div class="title d-flex justify-content-start">
                <h6 [ngClass]="{'active': selectedLanguage === 'default'}" (click)="selectLanguage('default')">
                  افتراضي
                </h6>
                <h6 [ngClass]="{'active': selectedLanguage === 'english'}" (click)="selectLanguage('english')">
                  English
                  (EN)
                </h6>
                <h6 [ngClass]="{'active': selectedLanguage === 'arabic'}" (click)="selectLanguage('arabic')">Arabic
                  -
                  العربية (AR)</h6>
              </div>
              <form action="" #addZoneForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-section mt-4">
                      <label for="validationCustom01" class="form-label"> اسم المنطقة التجارية ({{ selectedLanguageLabel
                        }})</label>
                      <input type="text" id="validationCustom01" class="form-control"
                        placeholder="{{ selectedLanguageePlaceholder }}" name="zoneNameAr" [(ngModel)]="zoneNameAr"
                        required />
                      <div class="invalid-feedback">يرجى إدخال اسم صالح</div>
                      <div class="valid-feedback">يبدو جيدًا!</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-section mt-4">
                      <label for="validationCustom01" class="form-label"> Zone Display Name ({{ selectedLanguageLabel
                        }})</label>
                      <input type="text" id="validationCustom01" class="form-control"
                        placeholder="{{ selectedLanguageePlaceholder }}" name="zoneDisplayName"
                        [(ngModel)]="zoneDisplayName" required />
                      <div class="invalid-feedback">يرجى إدخال اسم صالح</div>
                      <div class="valid-feedback">يبدو جيدًا!</div>
                    </div>
                  </div>
                  <div class="col-12 mt-2">
                    <img src="/assets/img/New folder/خريطة3.png" class="img-fluid" alt="">
                  </div>
                  <div class="btns mt-2">
                    <div class="row justify-content-end">
                      <button class="btn btn-rest" (click)="resetAddZoneForm()">إعادة تعيين</button>
                      <button class="btn btn-save">حفظ المعلومات</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row mt-4">
      <div class="col-md-12">
        <div class="row">
          <div class="page-title">
            <h3>
              قائمة المناطق
            </h3>
          </div>
        </div>


        <!-- Table -->
        <div class="cardParent mt-1">
          <div class="row justify-content-end border-bottoms">
            <input type="text" id="productName" class="form-control mt-2" placeholder="ابحث عن طلبك....."
              name="productName" />
            <div class="coulm mt-2">
              <button class="btn"><i class="fa-solid fa-download"></i>تصدير<i
                  class="fa-solid fa-caret-down"></i></button>
            </div>
            <div class="coulm mt-2">
              <button class="btn"><i class="fa-solid fa-caret-down"></i>الأعمدة</button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center"> <!-- أضف animation للـ table -->
                <thead>
                  <tr>
                    <th>م</th>
                    <th>معرف المنطقة</th>
                    <th>الاسم</th>
                    <th>Zone Diplay Name</th>
                    <th>المطعم</th>
                    <th>السائقين</th>
                    <th>الحالة </th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td>كنتاكي</td>
                    <td>1500 جنية</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i (click)="editArea()" class="fas fa-edit"
                        style="color: var(--main-color); cursor: pointer;"></i>
                      <i (click)="showSettings()" class="fas fa-cog"
                        style="color: var(--main-color); cursor: pointer; margin-right: 6px;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td>كنتاكي</td>
                    <td>1500 جنية</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i (click)="editArea()" class="fas fa-edit"
                        style="color: var(--main-color); cursor: pointer;"></i>
                      <i class="fas fa-cog" style="color: var(--main-color); cursor: pointer; margin-right: 6px;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td>كنتاكي</td>
                    <td>1500 جنية</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i (click)="editArea()" class="fas fa-edit"
                        style="color: var(--main-color); cursor: pointer;"></i>
                      <i class="fas fa-cog" style="color: var(--main-color); cursor: pointer; margin-right: 6px;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td>كنتاكي</td>
                    <td>1500 جنية</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i (click)="editArea()" class="fas fa-edit"
                        style="color: var(--main-color); cursor: pointer;"></i>
                      <i class="fas fa-cog" style="color: var(--main-color); cursor: pointer; margin-right: 6px;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
