<div class="ratings mt-2 mb-3">
  <div class="container-fluid p-0">
    <div class="row p-0 justify-content-center">
      <div class="col-md-10 p-0">
        <div class="row justify-content-center align-items-center p-0">
          <div class="col-sm-3 p-0">
            <h5>0.0/5</h5>
            <div class="star d-flex mb-3">
              <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
              <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
              <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
              <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
              <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
            </div>
            <h5>التقييمات</h5>
          </div>
          <div class="col-sm-9 p-0">
            <div class="progress-container">
              <span class="progress-value">90</span>
              <div class="progress">
                <div class="progress-bar bg-maroon" role="progressbar" style="width: 90%" aria-valuenow="90"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-label">ممتاز</span>
            </div>
            <div class="progress-container">
              <span class="progress-value">75</span>
              <div class="progress">
                <div class="progress-bar bg-maroon" role="progressbar" style="width: 75%" aria-valuenow="75"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-label">جيد</span>
            </div>

            <div class="progress-container">
              <span class="progress-value">50</span>
              <div class="progress">
                <div class="progress-bar bg-maroon" role="progressbar" style="width: 50%" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-label">متوسط</span>
            </div>

            <div class="progress-container">
              <span class="progress-value">25</span>
              <div class="progress">
                <div class="progress-bar bg-maroon" role="progressbar" style="width: 25%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-label">أقل من المتوسط</span>
            </div>

            <div class="progress-container">
              <span class="progress-value">0</span>
              <div class="progress">
                <div class="progress-bar bg-maroon" role="progressbar" style="width: 0%" aria-valuenow="0"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="progress-label">ضعيف</span>
            </div>
          </div>
        </div>
      </div>

      <!-----table-------->
      <div class="col-md-12">
        <div class="cardParent mt-3">
          <div class="row border-bottoms">
            <div class="col-6">
              <h3 class="pt-2">
                قائمة التقييمات
              </h3>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <div class="coulm mt-2 d-flex justify-content-end">
                <button class="btn"><i class="fa-solid fa-download"></i>تصدير<i
                    class="fa-solid fa-caret-down"></i></button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center"> <!-- أضف animation للـ table -->
                <thead>
                  <tr>
                    <th>م</th>
                    <th>طعام</th>
                    <th>معلومات المرجع</th>
                    <th>تقييم</th>
                    <th>التاريخ</th>
                    <th>رد المطعم</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
