<div class="orders mt-3 mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="page-title">
              <h3>
                <span class="icon">
                  <i class="fas fa-bullhorn fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                </span>
                حملة اكل
              </h3>
            </div>
          </div>

          <div class="col-md-6 d-flex justify-content-end">
            <div class="btns">
              <button (click)="addFoodCampaign()" class="btn btn-Campaign">+ إضافة حملة جديدة</button>
            </div>
          </div>
        </div>

        <!-- Table -->
        <div class="cardParent mt-3">
          <div class="row justify-content-end border-bottoms">
            <input type="text" id="productName" class="form-control mt-2" placeholder="ابحث بالاسم...."
              name="productName" />
            <div class="coulm mt-2">
              <button class="btn"><i class="fa-solid fa-download"></i>تصدير<i
                  class="fa-solid fa-caret-down"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center"> <!-- أضف animation للـ table -->
                <thead>
                  <tr>
                    <th>م</th>
                    <th>العنوان</th>
                    <th>مدة التاريخ</th>
                    <th>مدة الوقت</th>
                    <th>الحالة</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fas fa-trash-alt"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fas fa-trash-alt"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fas fa-trash-alt"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fas fa-trash-alt"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
