<div class="overview">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-4">
        <div class="cash d-flex flex-column justify-content-center align-content-center">
          <div class="content text-center">
            <h6>النقد الذي تم جمعه من المطعم</h6>
            <h6><i class="fas fa-coins" style="color: var(--main-color); font-size: 24px;"></i> 0.00</h6>
          </div>
          <div class="btns mt-4">
            <div class="btn btn-collectPoint">جمع النقط من المطعم</div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-2">
        <div class="Pending d-flex justify-content-between align-items-center">
          <div class="title">
            <h6>0.00</h6>
            <h6>سحب معلق</h6>
          </div>
          <div class="icon">
            <i class="fa-solid fa-hand-holding-dollar fa-2x" style="color: var(--main-color);"></i>
          </div>
        </div>
        <div class="Balance  d-flex justify-content-between align-items-center">
          <div class="title">
            <h6>0.00</h6>
            <h6>Balance</h6>
          </div>
          <div class="icon">
            <i class="fa-solid fa-wallet fa-2x" style="color: var(--main-color);"></i>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-2">
        <div class="Totalamount d-flex justify-content-between align-items-center">
          <div class="title">
            <h6>0.00</h6>
            <h6>إجمالي المبلغ المسحوب</h6>
          </div>
          <div class="icon">
            <i class="fa-solid fa-wallet fa-2x" style="color: var(--main-color);"></i>
          </div>
        </div>
        <div class="profits  d-flex justify-content-between align-items-center">
          <div class="title">
            <h6>0.00</h6>
            <h6>إجمالي الأرباح</h6>
          </div>
          <div class="icon">
            <i class="fa-solid fa-sack-dollar fa-2x" style="color: var(--main-color);"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">

      <div class="col-12">
        <div class="information">
          <div class="page-title">
            <h3>
              <span class="icon">
                <i class="fas fa-tags"></i>
              </span>
              معلومات المطعم
            </h3>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-6 d-flex deta">
                <div class="imgs">
                  <img src="/assets/img/deta-rest/1.png" class="img-fluid" alt="">
                </div>
                <div class="title">
                  <h4>demores</h4>
                  <h6>demores</h6>
                  <h6>0123456789</h6>
                  <h6>Demo2025-res.com</h6>
                </div>
              </div>
              <div class="col-md-6 map">
                <img src="/assets/img/deta-rest/2.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row p-0">
      <div class="col-md-6 mt-2">
        <div class="information">
          <div class="page-title">
            <h3>
              <span class="icon">
                <i class="fas fa-user-tie"></i>
              </span>
              معلومات المالك
            </h3>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12 d-flex deta">
                <div class="imgs">
                  <img src="/assets/img/deta-rest/1.png" class="img-fluid" alt="">
                </div>
                <div class="title">
                  <h4>demores</h4>
                  <h6>demores</h6>
                  <h6>0123456789</h6>
                  <h6>Demo2025-res.com</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-2">
        <div class="information">
          <div class="page-title">
            <h3>
              <span class="icon">
                <i class="fas fa-business-time"></i>
              </span>
              خطة العمل
            </h3>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-md-12 deta" style="min-height: 120px;">
                <div class="title">
                  <h4>خطة العمل : Commission</h4>
                  <h4>%Commission percentage :  0 </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
