<div class="orders mt-3 mb-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="page-title">
            <h3>
              <span class="icon">
                <i class="fas fa-utensils fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
              </span>
              نوع الأكل
            </h3>
          </div>
        </div>

        <!-- Table -->
        <div class="cardParent mt-3">
          <div class="row justify-content-end border-bottoms">
            <input type="text" id="productName" class="form-control mt-2" placeholder="ابحث عن طلبك....."
              name="productName" />
            <div class="coulm mt-2">
              <button class="btn"><i class="fa-solid fa-download"></i>تصدير<i
                  class="fa-solid fa-caret-down"></i></button>
            </div>
            <div class="coulm btns-add mt-2">
              <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-add">أضف مطبخ
                جديد</button>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center"> <!-- أضف animation للـ table -->
                <thead>
                  <tr>
                    <th>م</th>
                    <th>معرف المطبخ</th>
                    <th>اسم المطبخ</th>
                    <th>إجمالي المطاعم</th>
                    <th>الحالة</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>56458</td>
                    <td>25/5/2025</td>
                    <td>احمد علي - القاهرة</td>
                    <td class="text-center">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------موديل اضافة مطبخ------>
    <div class="modal fade mt-5" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="title d-flex justify-content-start">
              <h6 [ngClass]="{'active': selectedLanguage === 'default'}" (click)="selectLanguage('default')">
                افتراضي
              </h6>
              <h6 [ngClass]="{'active': selectedLanguage === 'english'}" (click)="selectLanguage('english')">
                English
                (EN)
              </h6>
              <h6 [ngClass]="{'active': selectedLanguage === 'arabic'}" (click)="selectLanguage('arabic')">Arabic
                -
                العربية (AR)</h6>
            </div>
            <form action="" #addForm="ngForm">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-section mt-4">
                    <label for="validationCustom01" class="form-label"> اسم المطبخ ({{ selectedLanguageLabel
                      }})</label>
                    <input type="text" id="validationCustom01" class="form-control"
                      placeholder="{{ selectedLanguageePlaceholder }}" name="kitchenName" [(ngModel)]="kitchenName"
                      required />
                    <div class="invalid-feedback">يرجى إدخال اسم صالح</div>
                    <div class="valid-feedback">يبدو جيدًا!</div>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <h3 class="text-center mb-4" style="color: var(--main-color);">صورة الماكولات</h3>

                  <div class="upload-area text-center position-relative">
                    <!-- معاينة الصورة إذا تم رفعها -->
                    <div *ngIf="imageEatPreview" class="image-preview mb-3">
                      <img [src]="imageEatPreview" alt="معاينة صورة المطبخ" class="img-fluid rounded"
                        style="max-height: 200px; max-width: 200px;" />
                      <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 mt-2 me-2"
                        (click)="clearImage(); resetFileInput()">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>

                    <!-- النص الإرشادي يظهر فقط لو مفيش صورة -->
                    <div *ngIf="!imageEatPreview" class="upload-instructions">
                      <label class="upload-label d-block" style="cursor: pointer;">
                        <span class="upload-icon"><i class="fa-solid fa-arrow-up-from-bracket fa-3x"></i></span>
                        <p class="mt-3">انقر لرفع صورة</p>
                        <input type="file" id="logoUpload" name="imageEat" (change)="onFileChange($event)"
                          accept=".jpg,.jpeg,.png,.gif" style="display: none;" />
                      </label>
                      
                      <div class="upload-details mt-3 text-start">
                        <p><strong>صيغة الصورة:</strong> jpg, png, jpeg, gif</p>
                        <p><strong>حجم الصورة:</strong> الحد الأقصى 2 ميجابايت</p>
                        <p><strong>نسبة الصورة:</strong> 1:1 (مربعة)</p>
                      </div>
                    </div>

                    <!-- رسالة الخطأ -->
                    <div class="text-danger mt-2" *ngIf="logoError">
                      {{ logoError }}
                    </div>
                  </div>
                </div>
                <div class="btns mt-2">
                  <div class="row justify-content-center">
                    <button class="btn btn-rest" (click)="resetAddKitchenForm()">إعادة تعيين</button>
                    <button class="btn btn-save">حفظ المعلومات</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
