<div class="add-restaurant mt-2 mb-3">
  <div class="container-fluid p-0">
    <form action="" class="mt-4">
      <!-----------------name and logo----------------->
      <div class="row p-0">
        <div class="page-title">
          <h3>
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
            تحديث المطعم
          </h3>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mt-2 name">
          <div class="title d-flex justify-content-start">
            <h6 [ngClass]="{'active': selectedLanguage === 'default'}" (click)="selectLanguage('default')">
              افتراضي
            </h6>
            <h6 [ngClass]="{'active': selectedLanguage === 'english'}" (click)="selectLanguage('english')">
              English
              (EN)
            </h6>
            <h6 [ngClass]="{'active': selectedLanguage === 'arabic'}" (click)="selectLanguage('arabic')">Arabic
              -
              العربية (AR)</h6>
          </div>
          <div class="form-section mt-4">
            <label for="validationCustom01" class="form-label">اسم المطعم ({{ selectedLanguageLabel }})</label>
            <input type="text" id="validationCustom01" class="form-control"
              placeholder="{{ selectedLanguageePlaceholder }}" name="restaurantName" required />
            <div class="invalid-feedback">يرجى إدخال اسم صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
          <div class="form-section">
            <label for="validationCustom02" class="form-label">عنوان المطعم ({{ selectedLanguageLabel
              }})</label>
            <textarea type="text" id="validationCustom02" class="form-control"
              placeholder="{{ selectedLanguageePlaceholder }}" name="restaurantAddress" required rows="2"></textarea>
            <div class="invalid-feedback">يرجى إدخال عنوان صالح</div>
            <div class="valid-feedback">يبدو جيدًا!</div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mt-2">
          <div class="logo">
            <div class="page-title">
              <h3>
                <span class="icon">
                  <i class="fas fa-image"></i>
                </span>
                شعار المطعم وغطاءاته
              </h3>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <h6>الشعار</h6>
                  </div>
                  <div class="col-12">
                    <div class="form-section">
                      <label class="upload-label">
                        <span><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                        <input type="file" id="logoUpload" (change)="onFileChange($event, 'logo')"
                          accept=".jpg,.png,.jpeg,.gif" />
                      </label>
                      <div class="upload-details">
                        <p>صيغة الصورة</p>
                        <p>jpg, png, jpeg, gif</p>
                        <p>حجم الصورة</p>
                        <p>الحد الأقصى: 2 ميجابايت</p>
                        <p>نسبة الصورة - 1:1</p>
                      </div>
                      <div class="invalid-feedback" *ngIf="logoError">{{ logoError }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                    <h6>غلاف المطعم</h6>
                  </div>
                  <div class="col-12">
                    <div class="form-section">
                      <label class="upload-label">
                        <span><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
                        <input type="file" id="coverUpload" (change)="onFileChange($event, 'cover')"
                          accept=".jpg,.png,.jpeg,.gif" />
                      </label>
                      <div class="upload-details">
                        <p>Image format</p>
                        <p>jpg, png, jpeg, gif</p>
                        <p>Image Size</p>
                        <p>maximum size 2 MB</p>
                        <p>Image Ratio - 2:1</p>
                      </div>
                      <div class="invalid-feedback" *ngIf="coverError">{{ coverError }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!----------------------information----------------------->

      <div class="row p-0 mt-3">
        <div class="information">
          <div class="page-title">
            <h3>
              <span class="icon">
                <i class="fas fa-info-circle"></i>
              </span>
              معلومات المطعم
            </h3>
          </div>
          <div class="inputs">
            <div class="row">
              <div class="col-md-6">
                <div class="form-section">
                  <label for="validationCustom03" class="form-label">الضريبة/الضريبة المضافة (%)</label>
                  <input type="text" id="validationCustom03" class="form-control" name="tax" required />
                  <div class="invalid-feedback">يرجى إدخال ضريبة صالحة</div>
                  <div class="valid-feedback">يبدو جيدًا!</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-section">
                  <label for="validationCustom04" class="form-label">وقت التوصيل المقدر (الدقائق والوقت
                    الأقصى)</label>
                  <input type="text" id="validationCustom04" class="form-control" name="time" required />
                  <div class="invalid-feedback">يرجى إدخال وقت صالح</div>
                  <div class="valid-feedback">يبدو جيدًا!</div>
                </div>
                <div class="form-section form-section-border">
                  <div class="row align-items-center">
                    <div class="row w-100">
                      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-4 mt-2">
                        <div class="input-group">
                          <input type="text" id="minTime" class="form-control" name="minTime"
                            placeholder="الحد الأدني للوقت" required />
                        </div>
                        <div class="invalid-feedback">يرجى إدخال وقت صالح</div>
                        <div class="valid-feedback">يبدو جيدًا!</div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-4 mt-2">
                        <div class="input-group">
                          <input type="text" id="maxTime" class="form-control" name="maxTime" placeholder="الوقت الأقصي"
                            required />
                        </div>
                        <div class="invalid-feedback">يرجى إدخال وقت صالح</div>
                        <div class="valid-feedback">يبدو جيدًا!</div>
                      </div>
                      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-4 d-flex justify-content-end">
                        <button class="btn btn-min mt-2">دقائق</button>
                        <button class="btn btn-done mt-2">تم</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!----------------------typeFood----------------------->
      <div class="row p-0 mt-3">
        <div class="typeFood">
          <div class="row">
            <div class="col-md-6">
              <div class="form-section">
                <label for="validationCustom04" class="form-label">نوع الأكل</label>
                <select dir="rtl" id="validationCustom04" class="form-select custom-select" name="foodType" required>
                  <option value="" disabled selected>اختر</option>
                  <!-- أضف خيارات تانية لو عايز -->
                  <option value="italian">إيطالي</option>
                  <option value="arabic">عربي</option>
                  <option value="fast-food">وجبات سريعة</option>
                </select>
                <div class="invalid-feedback">يرجى اختيار نوع أكل صالح</div>
                <div class="valid-feedback">يبدو جيدًا!</div>
              </div>
              <div class="form-section">
                <label for="validationCustom04" class="form-label">المنطقة</label>
                <select dir="rtl" id="validationCustom04" class="form-select custom-select" name="location" required>
                  <option value="" disabled selected>اختر</option>
                  <!-- أضف خيارات تانية لو عايز -->
                  <option value="cairo">القاهرة</option>
                  <option value="alex">الاسكندرية</option>
                </select>
                <div class="invalid-feedback">يرجى اختيار منطقة صالحة</div>
                <div class="valid-feedback">يبدو جيدًا!</div>
              </div>
              <div class="form-section">
                <label for="validationCustom04" class="form-label">خط العرض</label>
                <input type="text" id="validationCustom04" class="form-control" name="let" required />
                <div class="invalid-feedback">يرجى إدخال خط عرض</div>
                <div class="valid-feedback">يبدو جيدًا!</div>
              </div>
              <div class="form-section">
                <label for="validationCustom04" class="form-label">خط الطول</label>
                <input type="text" id="validationCustom04" class="form-control" name="log" required />
                <div class="invalid-feedback">يرجى إدخال خط طول</div>
                <div class="valid-feedback">يبدو جيدًا!</div>
              </div>
            </div>
            <div class="col-md-6">
              <img src="/assets/img/New folder/خريطة.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

      <!----------------------owner----------------------->
      <div class="row p-0 mt-3">
        <div class="owner">
          <div class="page-title">
            <h3>
              <span class="icon">
                <i class="fas fa-user-tie"></i>
              </span>
              معلومات المالك
            </h3>
          </div>
          <div class="inputs">
            <div class="row">
              <div class="col-md-4">
                <div class="form-section">
                  <label for="validationCustom04" class="form-label">الاسم الاول</label>
                  <input type="text" id="validationCustom04" class="form-control" name="firstName" required />
                  <div class="invalid-feedback">يرجى إدخال اسم اول صالح</div>
                  <div class="valid-feedback">يبدو جيدًا!</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-section">
                  <label for="validationCustom04" class="form-label">الاسم الاخير</label>
                  <input type="text" id="validationCustom04" class="form-control" name="lastName" required />
                  <div class="invalid-feedback">يرجى إدخال اسم اخير صالح</div>
                  <div class="valid-feedback">يبدو جيدًا!</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-section">
                  <label for="validationCustom04" class="form-label">الهاتف</label>
                  <input type="text" id="validationCustom04" class="form-control" name="phoneNumber" required />
                  <div class="invalid-feedback">يرجى إدخال رقم هاتف صالح</div>
                  <div class="valid-feedback">يبدو جيدًا!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!----------------------tage----------------------->
      <div class="row p-0 mt-3">
        <div class="tage">
          <div class="page-title">
            <h3>
              <span class="icon">
                <i class="fas fa-tags"></i>
              </span>
              العلامات
            </h3>
          </div>
          <div class="inputs">
            <div class="row">
              <div class="col-md-12">
                <div class="form-section">
                  <input type="text" id="validationCustom04" class="form-control" name="firstName" required />
                  <div class="invalid-feedback">يرجى إدخال اسم اول صالح</div>
                  <div class="valid-feedback">يبدو جيدًا!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!----------------------account----------------------->
      <div class="row p-0 mt-3">
        <div class="account">
          <div class="page-title">
            <h3>
              <span class="icon">
                <i class="fas fa-user-cog"></i>
              </span>
              معلومات الحساب
            </h3>
          </div>
          <div class="inputs">
            <div class="row">
              <div class="col-md-4">
                <div class="form-section">
                  <label for="validationCustom04" class="form-label">البريدالالكتروني</label>
                  <input type="email" id="validationCustom04" class="form-control" name="email" required />
                  <div class="invalid-feedback">يرجى إدخال بريد صالح</div>
                  <div class="valid-feedback">يبدو جيدًا!</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-section">
                  <label for="validationCustom04" class="form-label">كلمة السر</label>
                  <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" name="password"
                    required />
                  <span class="password-toggle" (click)="togglePassword()">
                    <i class="fa-regular {{ showPassword ? 'fa-eye-slash' : 'fa-eye' }}" style="color: #8C0F14;"></i>
                  </span>
                  <div class="invalid-feedback">يرجى إدخال كلمة سر صالحة</div>
                  <div class="valid-feedback">يبدو جيدًا!</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-section">
                  <label for="validationCustom04" class="form-label">تاكيد كلمة السر</label>
                  <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" id="confirmPassword"
                    name="confirmPassword" required />
                  <span class="password-toggle" (click)="toggleConfirmPassword()">
                    <i class="fa-regular {{ showConfirmPassword ? 'fa-eye-slash' : 'fa-eye' }}"
                      style="color: #8C0F14;"></i>
                  </span>
                  <div class="invalid-feedback">يرجى إدخال كلمة سر صالحة</div>
                  <div class="valid-feedback">يبدو جيدًا!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!----------------------btns----------------------->
      <div class="row p-0 mt-3">
        <div class="btns">
          <div class="row justify-content-end">
            <button class="btn btn-rest">إعادة تعيين</button>
            <button class="btn btn-save">حفظ المعلومات</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
