<div class="edit-subcategory mt-2 mb-3">
  <div class="container-fluid  p-0">
    <form action="" class="mt-4 form-edit-subcategory">
      <!-----------------name and logo----------------->
      <div class="row p-0">
        <div class="page-title">
          <h3>
            <span class="icon">
              <i class="fas fa-folder-open"></i>
            </span>
            فئة
          </h3>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 mt-2 name">
          <div class="title d-flex justify-content-start">
            <h6 [ngClass]="{'active': selectedLanguage === 'default'}" (click)="selectLanguage('default')">
              افتراضي
            </h6>
            <h6 [ngClass]="{'active': selectedLanguage === 'english'}" (click)="selectLanguage('english')">
              English
              (EN)
            </h6>
            <h6 [ngClass]="{'active': selectedLanguage === 'arabic'}" (click)="selectLanguage('arabic')">Arabic
              -
              العربية (AR)</h6>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-section mt-2">
                <label for="validationCustom01" class="form-label"> الاسم ({{ selectedLanguageLabel }})</label>
                <input type="text" id="validationCustom01" class="form-control"
                  placeholder="{{ selectedLanguageePlaceholder }}" name="restaurantName" required />
                <div class="invalid-feedback">يرجى إدخال اسم صالح</div>
                <div class="valid-feedback">يبدو جيدًا!</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!----------------------btns----------------------->
      <div class="row p-0 mt-3">
        <div class="btns">
          <div class="row justify-content-end">
            <button class="btn btn-rest">إعادة تعيين</button>
            <button class="btn btn-save">تحديث</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
