<div class="settings mt-2 mb-3">
  <div class="container-fluid p-0">
    <div class="row p-0">
      <div class="col-12 mt-2 foodSetting p-0">
        <div class="page-title">
          <h3>
            <span class="icon">
              <i class="fas fa-tachometer-alt"></i>
            </span>
            Overview
          </h3>
        </div>
      </div>

      <div class="col-12 p-0">
        <div class="plan">
          <h2>خطة قاعدة العمولة</h2>
          <h5 style="font-weight: bold;">0 % العمولة لكل طلب
            <br>
            سيدفع المطعم 0% العمولة لـ Jeebly من كل طلب. ستحصل على الوصول لجميع الميزات والخيارات في لوحة المطعم،
            التطبيق والتفاعل مع المستخدم.
          </h5>
          <form action="">
            <div class="toogle d-flex justify-content-start mt-2">
              <h5>تغيير معدل العمولة(%)</h5>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 p-0">
                <input type="text" class="form-control" id="inputPassword2">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-change">تغيير</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
