<div class="container-fluid mt-2 mb-3">
  <div class="qrcode  ">
    <div class="row p-0">
      <div class="page-title">
        <h3>
          تصميم بطاقة QR
        </h3>
      </div>

      <div class="col-12 p-0">
        <div class="row justify-content-end">
          <div class="col-12 p-0">
            <div class="btns">
              <button class="btn btn-print">طباعة</button>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-9 col-sm-10 col-12 p-0 mt-2">
            <form action="">
              <div class="row">
                <div class="col-12">
                  <div class="form-section">
                    <label for="address" class="form-label">العنوان</label>
                    <input type="text" id="address" class="form-control" name="address" required />
                    <div class="invalid-feedback">يرجى ادخال عنوان صالح</div>
                    <div class="valid-feedback">يبدو جيدًا!</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-section">
                    <label for="desc" class="form-label">الوصف</label>
                    <input type="text" id="desc" class="form-control" name="desc" required />
                    <div class="invalid-feedback">يرجى ادخال وصف صالح</div>
                    <div class="valid-feedback">يبدو جيدًا!</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-section">
                    <label for="Phone" class="form-label">Phone</label>
                    <input type="text" id="Phone" class="form-control" name="Phone" required />
                    <div class="invalid-feedback">يرجى ادخال Phone صالح</div>
                    <div class="valid-feedback">يبدو جيدًا!</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-section">
                    <label for="WebsiteLink" class="form-label">Website Link</label>
                    <input type="text" id="WebsiteLink" class="form-control" name="WebsiteLink" required />
                    <div class="invalid-feedback">يرجى ادخال WebsiteLink صالح</div>
                    <div class="valid-feedback">يبدو جيدًا!</div>
                  </div>
                </div>
                <div class="btns d-flex justify-content-end">
                  <button class="btn btn-clear">Clear</button>
                  <button class="btn btn-save">حفظ</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
