.foodSetting,
.Schedule {
  border: 3px solid var(--third-color);
  border-radius: 12px;
  padding: 8px !important;
  color: var(--main-color);
  font-weight: 700;
}

.foodSetting .content {
  border-top: 3px solid var(--third-color);
}

.foodSetting .content .toogle {
  border: 2px solid var(--third-color);
  padding: 5px 0;
  border-radius: 12px;
  color: var(--main-color);
}

.content .toogle h6 {
  font-weight: bold;
}

/********************/

.btns .btn {
  width: 150px;
  height: 40px;
  border-radius: 12px;
  margin-top: 10px;
}

.btns .btn-save {
  background: var(--main-color);
  color: var(--second-color);
}

/*******************************Schedule***********************************/

.Schedule .workingHours .days {
  border-top: 3px solid var(--third-color);
  padding: 10px 5px 0 5px;
}

.workingHours .days h6 {
  margin-left: 10px;
  margin-top: 10px;
}

.workingHours .days p {
  margin-left: 10px;
  border: 2px solid var(--main-color);
  border-radius: 12px;
  padding: 5px 15px;
}

.workingHours .days i {
  margin-top: 10px;
  cursor: pointer;
}

/******************************model*******************************/

.modal {
  padding-top: 95px;
  color: var(--main-color);
}

.modal .modal-header h6 {
  color: var(--main-color);
  font-weight: bold;
}

.btn-send {
  padding: 2px 15px;
  color: var(--second-color);
  font-weight: 600;
  background: var(--main-color);
  border-radius: 12px;
}

.btn-send:focus {
  border: none;
}
