<div class="dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="banner col-md-12 p-0">
        <h6>مرحبا محمد</h6>
        <h6>مرحباً بك هنا يمكنك إدارة مطاعمك.</h6>
        <img src="/assets/img/dashboard/banner.png" alt="banner" class="img-fluid">
      </div>
    </div>

    <!------------------allcategory------------------->
    <div class="row mt-3">
      <div class="allcategory col-md-12">
        <div class="title d-flex justify-content-between">
          <h4>الفئـــــات</h4>
          <a href="" class="btn btn-all">عرض الكل<i class="fa-solid fa-caret-left"></i>
          </a>
        </div>

        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 mt-2">
            <div class="category">
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <img src="/assets/img/dashboard/Fish.png" alt="fish" class="img-fluid">
                </div>
                <div class="col-12 text-center mt-1">
                  <h5>أكل بحري</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 mt-2">
            <div class="category">
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <img src="/assets/img/dashboard/Fish.png" alt="fish" class="img-fluid">
                </div>
                <div class="col-12 text-center mt-1">
                  <h5>أكل بحري</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 mt-2">
            <div class="category">
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <img src="/assets/img/dashboard/Fish.png" alt="fish" class="img-fluid">
                </div>
                <div class="col-12 text-center mt-1">
                  <h5>أكل بحري</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 mt-2">
            <div class="category">
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <img src="/assets/img/dashboard/Fish.png" alt="fish" class="img-fluid">
                </div>
                <div class="col-12 text-center mt-1">
                  <h5>أكل بحري</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 mt-2">
            <div class="category">
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <img src="/assets/img/dashboard/Fish.png" alt="fish" class="img-fluid">
                </div>
                <div class="col-12 text-center mt-1">
                  <h5>أكل بحري</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-6 mt-2">
            <div class="category">
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <img src="/assets/img/dashboard/Fish.png" alt="fish" class="img-fluid">
                </div>
                <div class="col-12 text-center mt-1">
                  <h5>أكل بحري</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------------CommonDishes------------------->
    <div class="row mt-3">
      <div class="CommonDishes col-md-12">
        <div class="title d-flex justify-content-between">
          <h4>الأطباق الشائعة</h4>
          <a href="" class="btn btn-all">عرض الكل<i class="fa-solid fa-caret-left"></i>
          </a>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-11 mb-2">
            <div class="card">
              <div class="card-top w-100">
                <div class="row justify-content-between">
                  <div class="col-6 px-1 py-2">
                    <i class="fa-solid fa-heart text-end"></i>
                  </div>
                  <div class="col-6 px-0 py-2 text-start">
                    <a href="#" class="btn btn-view">عرض</a>
                  </div>
                </div>
              </div>
              <img src="/assets/img/dashboard/burger.png" class="card-img-top img-fluid" alt="burger">
              <div class="card-body">
                <div class="addcart">
                  <button class="btn btn-add">+</button>
                </div>

                <div class="content">
                  <div class="star d-flex justify-content-end mb-3">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                  </div>
                  <h5 class="title-name text-start">Cheese Burger</h5>
                  <h5 class="title-price text-start">$5.59</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-11 mb-2">
            <div class="card">
              <div class="card-top w-100">
                <div class="row justify-content-between">
                  <div class="col-6 px-1 py-2">
                    <i class="fa-solid fa-heart text-end"></i>
                  </div>
                  <div class="col-6 px-0 py-2 text-start">
                    <a href="#" class="btn btn-view">عرض</a>
                  </div>
                </div>
              </div>
              <img src="/assets/img/dashboard/burger.png" class="card-img-top img-fluid" alt="burger">
              <div class="card-body">
                <div class="addcart">
                  <button class="btn btn-add">+</button>
                </div>

                <div class="content">
                  <div class="star d-flex justify-content-end mb-3">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                  </div>
                  <h5 class="title-name text-start">Cheese Burger</h5>
                  <h5 class="title-price text-start">$5.59</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-11 mb-2">
            <div class="card">
              <div class="card-top w-100">
                <div class="row justify-content-between">
                  <div class="col-6 px-1 py-2">
                    <i class="fa-solid fa-heart text-end"></i>
                  </div>
                  <div class="col-6 px-0 py-2 text-start">
                    <a href="#" class="btn btn-view">عرض</a>
                  </div>
                </div>
              </div>
              <img src="/assets/img/dashboard/burger.png" class="card-img-top img-fluid" alt="burger">
              <div class="card-body">
                <div class="addcart">
                  <button class="btn btn-add">+</button>
                </div>

                <div class="content">
                  <div class="star d-flex justify-content-end mb-3">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                  </div>
                  <h5 class="title-name text-start">Cheese Burger</h5>
                  <h5 class="title-price text-start">$5.59</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-11 mb-2">
            <div class="card">
              <div class="card-top w-100">
                <div class="row justify-content-between">
                  <div class="col-6 px-1 py-2">
                    <i class="fa-solid fa-heart text-end"></i>
                  </div>
                  <div class="col-6 px-0 py-2 text-start">
                    <a href="#" class="btn btn-view">عرض</a>
                  </div>
                </div>
              </div>
              <img src="/assets/img/dashboard/burger.png" class="card-img-top img-fluid" alt="burger">
              <div class="card-body">
                <div class="addcart">
                  <button class="btn btn-add">+</button>
                </div>

                <div class="content">
                  <div class="star d-flex justify-content-end mb-3">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                    <img src="/assets/img/dashboard/Star.png" alt="star" class="img-fluid" style="width: 15px;">
                  </div>
                  <h5 class="title-name text-start">Cheese Burger</h5>
                  <h5 class="title-price text-start">$5.59</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------------PreviousOrders------------------->
    <div class="row mt-3">
      <div class="Previousorders col-md-12">
        <div class="title d-flex justify-content-between">
          <h4>الطلبات السابقة</h4>
          <a href="" class="btn btn-all">عرض الكل<i class="fa-solid fa-caret-left"></i>
          </a>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-11  mb-2">
            <div class="card">
              <div class="card-top px-4 py-4 w-100">
                <i class="fa-solid fa-heart"></i>
              </div>
              <img src="/assets/img/dashboard/rizo.png" class="card-img-top img-fluid" alt="burger">
              <div class="card-body">
                <div class="content">
                  <h5 class="title-name text-center">أرز ريزو</h5>
                  <h5 class="title-price text-center">$5.59</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-11  mb-2">
            <div class="card">
              <div class="card-top px-4 py-4 w-100">
                <i class="fa-solid fa-heart"></i>
              </div>
              <img src="/assets/img/dashboard/rizo.png" class="card-img-top img-fluid" alt="burger">
              <div class="card-body">
                <div class="content">
                  <h5 class="title-name text-center">أرز ريزو</h5>
                  <h5 class="title-price text-center">$5.59</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-11  mb-2">
            <div class="card">
              <div class="card-top px-4 py-4 w-100">
                <i class="fa-solid fa-heart"></i>
              </div>
              <img src="/assets/img/dashboard/rizo.png" class="card-img-top img-fluid" alt="burger">
              <div class="card-body">
                <div class="content">
                  <h5 class="title-name text-center">أرز ريزو</h5>
                  <h5 class="title-price text-center">$5.59</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-11  mb-2">
            <div class="card">
              <div class="card-top px-4 py-4 w-100">
                <i class="fa-solid fa-heart"></i>
              </div>
              <img src="/assets/img/dashboard/rizo.png" class="card-img-top img-fluid" alt="burger">
              <div class="card-body">
                <div class="content">
                  <h5 class="title-name text-center">أرز ريزو</h5>
                  <h5 class="title-price text-center">$5.59</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
