.discount {
  color: var(--main-color);
}

/************  table *****************/

.cardParent {
  border: 3px solid var(--third-color);
  border-radius: 12px;
}

.btn-addDiscount {
  padding: 2px 15px;
  color: var(--second-color);
  font-weight: 600;
  background: var(--main-color);
  border-radius: 12px;
}

.btn-addDiscount:focus {
  border: none;
}

.border-bottoms {
  border-bottom: 2px solid var(--third-color) !important;
  padding-bottom: 10px;
}

.cardParent .card-body {
  padding: 10px;
}

.custom-table {
  overflow-x: auto;
}

.custom-table-design {
  border-collapse: separate;
  /* لفصل الصفوف */
  border-spacing: 0 1px;
  /* مسافة بين الصفوف */
  margin: 0;
}

.custom-table-design thead {
  border: none;
}

.custom-table-design thead th {
  background: var(--third-color) !important;
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  padding: 10px !important;
  border: 0;
}

.custom-table-design tbody tr {
  background: var(--second-color);
  color: var(--main-color);
}

.custom-table-design td {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--main-color);
  padding: 7px !important;
  border: 0;
}

.btn-edit {
  border: none;
}

.btn-edit:focus,
.btn-edit:active,
.btn-edit:focus-visible {
  border: none;
}

.btn-edit img {
  max-width: 100%;
  height: auto;
}

.img-check {
  width: 15px;
  height: 15px;
}

@media (max-width: 992px) {
  .filter {
    top: 8%;
    right: 25%;
  }
}

/************************/

.alert {
  color: var(--main-color);
}


/****************modal**************/

.modal {
  padding-top: 95px;
}

form .form-section {
  margin-bottom: 15px;
}

form .form-section .form-label {
  font-size: 21px;
  font-weight: bold;
  color: var(--main-color);
}

form .form-section .form-control {
  border: 2px solid var(--main-color);
  padding: 10px;
  border-radius: 12px;
}

form .form-section .form-control:focus {
  border: 2px solid var(--main-color);
  box-shadow: none;
  outline: none;
}

.form-section {
  margin-bottom: 1.5rem;
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 69%;
  left: 1.5%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 5px;
}

.form-select.custom-select {
  font-size: 16px;
  padding: 10px !important;
  border: 2px solid var(--main-color);
  border-radius: 12px;
  color: var(--main-color);
  background-position: left 0.75rem center; /* السهم على اليسار */
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.form-select.custom-select:focus {
  border: 2px solid var(--main-color);
  box-shadow: none;
  outline: none;
}

.form-select.custom-select:invalid {
  border-color: var(--main-color);
}

form .form-section .form-control::placeholder {
  color: rgba(109, 105, 105, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}
