<div class="discount mt-2 mb-3">
  <div class="container-fluid p-0">
    <div class="row p-0">
      <!-----table-------->
      <div class="col-md-12">
        <div class="cardParent mt-3">
          <div class="row border-bottoms">
            <div class="col-6">
              <h3 class="pt-2">
                معلومات الخصم
              </h3>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <div class="mt-2 d-flex justify-content-end">
                <button class="btn btn-addDiscount" type="button" data-bs-toggle="modal"
                  data-bs-target="#addDiscountModal">Add Discount</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="alert alert-secondary text-center" role="alert">
              No Discount
            </div>
            <div class="table-responsive custom-table">
              <table class="table custom-table-design text-center"> <!-- أضف animation للـ table -->
                <thead>
                  <tr>
                    <th>م</th>
                    <th>طعام</th>
                    <th>معلومات المرجع</th>
                    <th>تقييم</th>
                    <th>التاريخ</th>
                    <th>رد المطعم</th>
                    <th>الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>كباب</td>
                    <td>احمد علي - القاهرة</td>
                    <td>4.5</td>
                    <td>25/11/2025</td>
                    <td>موافق</td>
                    <td class="text-center">
                      <i class="fa-regular fa-eye fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- ModalAddDiscount -->
      <div class="modal fade" id="addDiscountModal" tabindex="-1" aria-labelledby="addDiscountModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-section">
                      <label for="validationCustom03" class="form-label">مبلغ الخصم (%)</label>
                      <input type="text" id="validationCustom03" class="form-control" name="tax" required />
                      <div class="invalid-feedback">يرجى إدخال مبلغ الخصم صالحة</div>
                      <div class="valid-feedback">يبدو جيدًا!</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-section">
                      <label for="validationCustom03" class="form-label">أدنى شراء ($)</label>
                      <input type="text" id="validationCustom03" class="form-control" name="tax" required />
                      <div class="invalid-feedback">يرجى إدخال أدنى شراء صالحة</div>
                      <div class="valid-feedback">يبدو جيدًا!</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-section">
                      <label for="validationCustom03" class="form-label">أقصى خصم ($)</label>
                      <input type="text" id="validationCustom03" class="form-control" name="tax" required />
                      <div class="invalid-feedback">يرجى إدخال أقصى خصم صالحة</div>
                      <div class="valid-feedback">يبدو جيدًا!</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-section">
                      <label for="validationCustom03" class="form-label">تاريخ البدء</label>
                      <input type="date" id="validationCustom03" class="form-control" name="tax" required />
                      <div class="invalid-feedback">يرجى إدخال تاريخ البدء صالحة</div>
                      <div class="valid-feedback">يبدو جيدًا!</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-section">
                      <label for="validationCustom03" class="form-label">تاريخ الانتهاء</label>
                      <input type="date" id="validationCustom03" class="form-control" name="tax" required />
                      <div class="invalid-feedback">يرجى إدخال تاريخ الانتهاء صالحة</div>
                      <div class="valid-feedback">يبدو جيدًا!</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-section">
                      <label for="validationCustom03" class="form-label">وقت البدء</label>
                      <input type="time" id="validationCustom03" class="form-control" name="tax" required />
                      <div class="invalid-feedback">يرجى إدخال وقت البدء صالحة</div>
                      <div class="valid-feedback">يبدو جيدًا!</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-section">
                      <label for="validationCustom03" class="form-label">وقت النهاية</label>
                      <input type="time" id="validationCustom03" class="form-control" name="tax" required />
                      <div class="invalid-feedback">يرجى إدخال وقت النهاية صالحة</div>
                      <div class="valid-feedback">يبدو جيدًا!</div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-addDiscount">Add Discount</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
