<div class="list-restaurant mt-2 mb-3">
  <div class="container-fluid p-0">
    <div class="row p-0">
      <div class="col-md-12 p-0">
        <div class="row">
          <div class="page-title">
            <h3>
              <span class="icon">
                <i class="fas fa-store-alt fa-lg" style="color: var(--main-color); cursor: pointer;"></i>
              </span>
              {{ (restaurant$ | async)?.nameAr }}
            </h3>
          </div>
        </div>


        <div class="row-cols-1 row-cols-md-10 row-cols-lg-11 mt-1">

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'overview']">
            نظرة عامة
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'orders']">
            الطلبات
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'foods']">
            أكلات
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'ratings']">
            التقييمات
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'discounts']">
            الخصومات
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'transactions']">
            المعاملات
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'settings']">
            الإعدادات
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'conversations']">
            المحادثات
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'business']">
            Buisness
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'meta']">
            Meta
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'qrcode']">
            رمز QR
          </button>

          <button class="btn-filter mt-1" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/manageRestaurants/details-restaurant', restaurantId, 'payments']">
            المدفوعات
          </button>

        </div>


        <div class="content mt-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
